@import "tailwindcss";
@import '@fontsource-variable/geist/wght.css';
@import '@fontsource-variable/jetbrains-mono/wght.css';

@theme {
  --color-green-primary: #2D5A27;
  --color-green-secondary: #a1d494;

  --color-rose-primary: #d1929e;
  --color-rose-secondary: #ffb2c0;
  --color-rose-tertiary: #640a2a;

  --color-neutral: #181f17;
  --color-background: #0e150e;

  --color-gray-neutral: #7C8379

  --font-body: 'Geist Variable', sans-serif;
  --font-label: 'JetBrains Mono Variable', monospace;
}