---
import Layout from "../layouts/Layout.astro";
import Navbar from "@sections/Navbar.astro";
import Footer from "@sections/Footer.astro";
import Hero from "@sections/Hero.astro";
import Experience from "@sections/Experience";
import Skills from "@sections/Skills.astro";
---

<Layout>
  <Navbar />
  <main class="py-8">
    <Hero />
    <Experience client:visible/>
    <Skills />
  </main>
  <Footer />
</Layout>
