---
import Leaf from "@icons/Leaf.astro";
import Send from "@icons/Send.astro";
import Linkedin from "@icons/LinkedIn.astro";
import GitHub from "@icons/Github.astro";
---

<div
  class="shadow-terminal flex-1 w-full rounded-lg bg-neutral px-8 py-8 flex flex-col xl:flex-row items-stretch justify-between gap-4"
>
  <div class="flex items-center justify-center gap-8">
    <div
      class="hidden md:w-fit px-4 py-4 bg-green-text-background border-green-secondary border rounded-md"
    >
      <Leaf />
    </div>
    <div class="flex flex-col items-start gap-2">
      <p class="text-4xl font-bold">Ready to grow together?</p>
      <p class="text-2xl text-gray-300">
        I'm currently open to new collaborations and challenging projects.
      </p>
    </div>
  </div>
  <div class="w-full md:w-md flex flex-col items-center justify-center gap-4">
    <button
      class="w-full flex items-center justify-center gap-2 px-4 md:px-8 py-2 md:py-4 font-label font-bold rounded-md bg-rose-primary text-rose-tertiary"
    >
      <Send />
      Send Message
    </button>
    <div class="w-full flex items-center justify-center gap-4">
      <a
        class="w-full flex items-center justify-center gap-2 px-4 md:px-8 py-2 md:py-4 font-label font-bold rounded-md bg-green-secondary text-green-text-background"
        href="https://www.linkedin.com/in/antoniomaldonadotech/"
        target="_blank"
      >
        <Linkedin />
        LinkedIn
      </a>
      <a
        class="w-full flex items-center justify-center gap-2 px-4 md:px-8 py-2 md:py-4 font-label font-bold rounded-md bg-green-secondary text-green-text-background"
        href="https://github.com/malsebasmal"
        target="_blank"
      >
        <GitHub />
        GitHub
      </a>
    </div>
  </div>
</div>
