---
const currentYear = new Date().getFullYear()
---

<footer>
  <h2>
    Antonio Maldonado E.
  </h2>
  <p>
    © {currentYear} Antonio Maldonado. Built with Living Code.
  </p>
  <ul>
    <li>
      <a target="_blank" href="https://github.com/malsebasmal">
        GitHub
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/in/antoniomaldonadotech">
        LinkedIn
      </a>
    </li>
    <li>
      <a target="_blank" href="https://app.daily.dev/malsebasmal/upvoted">
        Daily.dev
      </a>
    </li>
    <li>
      <a target="_blank" href="https://bsky.app/profile/malsebasmal.bsky.social">
        Bluesky
      </a>
    </li>
  </ul>
</footer>