<div>
  <div>
    <p>
      Languages
    </p>
    <ul>
      <li>
        <p>
          Spanish
        </p>
        <p>
          Native
        </p>
      </li>
      <li>
        <p>
          English
        </p>
        <p>
          Conversational Proficiency
        </p>
      </li>
    </ul>
  </div>
  <div>
    <p>
      Availability
    </p>
    <p>
      Open to new collaborations.
    </p>
  </div>
</div>
