  <div class="flex flex-col items-start justify-center gap-4">
    <div>
      <p class="font-label uppercase tracking-wide font-bold text-green-secondary">
        Fullstack Developer
      </p>
    </div>
    <div>
      <p class="text-5xl font-bold">
        Building <span class="italic text-rose-secondary">scalable web products</span> with precision.
      </p>
    </div>
    <div class="font-label px-6 py-4 bg-neutral rounded-lg w-fit text-gray-300">
      <p>
        portfoliomalsebasmal_v2.elf
      </p>
    </div>
  </div>