---
const currentYear = new Date().getFullYear();
---

<footer class="font-label text-gray-300 flex items-center justify-between py-8">
  <h2 class="font-body text-lg">Antonio Maldonado E.</h2>
  <p>
    © {currentYear} Antonio Maldonado. Built with Living Code.
  </p>
  <ul class="font-body text-lg flex items-center justify-center gap-6">
    <li>
      <a target="_blank" href="https://github.com/malsebasmal"> GitHub </a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/antoniomaldonadotech"
      >
        LinkedIn
      </a>
    </li>
  </ul>
</footer>
