---
const currentYear = new Date().getFullYear();
---

<footer class="font-label text-gray-300 flex items-center justify-center py-8">
  <p class="text-sm md:text-base text-center text-balance">
    © {currentYear} Antonio Maldonado. Built with Living Code.
  </p>
</footer>
