---
const currentYear = new Date().getFullYear();
---

<footer
  id="footer-card"
  class="animate-fade-up font-label text-gray-300 flex items-center justify-center py-4 md:py-8"
>
  <p class="text-sm md:text-base text-center text-balance">
    © {currentYear} Antonio Maldonado E.
  </p>
</footer>

<script>
  import { observeAnimation } from "@utils/observeAnimation";
  observeAnimation("#footer-card", 400);
</script>
