<header>
	<nav>
		<h2>
			Antonio Maldonado E.
		</h2>
		<ul>
			<li>
				About
			</li>
			<li>
				Experience
			</li>
			<li>
				Stack
			</li>
			<li>
				Contact
			</li>
		</ul>
		<button>
			Download cv
		</button>
	</nav>
</header>