---
import Verify from "@icons/Verify.astro";
---

<header class="w-full pt-4 pb-4 border-b-2 border-neutral">
  <nav class="w-full h-full flex items-center justify-between">
    <div class="flex items-center justify-center gap-4">
      <div class="inline md:hidden">
        <Verify />
      </div>
      <h2 class="text-balance text-lg md:text-3xl font-bold">
        Antonio Maldonado E.
      </h2>
      <div class="hidden md:inline">
        <Verify />
      </div>
    </div>
    <ul
      class="hidden xl:flex items-center justify-center gap-8 text-lg [&>li]:cursor-pointer [&>li]:transition-all [&>li:hover]:text-green-secondary [&>li:hover]:font-bold [&>li:hover]:border-b-2"
    >
      <li>About</li>
      <li>Experience</li>
      <li>Stack</li>
      <li>Contact</li>
    </ul>
    <button
      class="px-4 md:px-8 py-2 md:py-4 font-label font-bold rounded-lg bg-rose-primary text-rose-tertiary"
    >
      Download cv
    </button>
  </nav>
</header>
